/*background--------------------------------------*/
html,
body {
  background: linear-gradient(-45deg, #e0754e91, #c6eff154, #ebd6e9c2, rgba(146, 199, 241, 0.842));
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nimbus-sans", sans-serif;
  font-size: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*nav bar start --------------------------------------------------------------------------------------------*/
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 2;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  font-weight: 600;
  font-family: "ff-meta-serif-web-pro", serif;
  text-transform: uppercase;
}

.nav div.logo a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}

.nav div.logo a:hover {
  color: #575757;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 1.8rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: black;
  line-height: 65px;
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: .0875rem;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.4px;
  transition: all 0.3s cubic-bezier(.05, .69, .14, 1);
}

.nav div.main_list ul li a:hover {
  color: #6d6c6c;
}

.navTrigger {
  display: none;
}

/* Media qurey section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width:768px) {
  .myH1 {
    padding-top: 10%;
  }

  .navTrigger {
    display: block;
    z-index: 2;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show_list {
    height: auto;
    display: none;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    /*same background color of navbar*/
    background-position: center top;
  }

  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }

  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    padding: 10px;
    font-weight: 500;
  }

  .nav div.media_button {
    display: block;
  }
}

/* Animation */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: rgb(255, 2, 255);
  border-radius: 1px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.myH1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 45px;
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: .0875rem;
}

.myH2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 45px;
}

.myH3 {
  text-align: center;
  font-size: 1rem;
}

.myP {
  text-align: left;
  line-height: 1.7;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 17px;
  font-family: "arial";
}

@media all and (max-width:700px) {
  .myP {
    padding: 1%;
  }
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  padding-bottom: 3%;
  background: white;
  border-radius: 2px;
}

/*-----------------------------------------*/
a {
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  text-decoration: none;
}

a :hover {
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  text-decoration: none;
  ;
}

.footer {
  background-color: transparent;
  padding: 10px;
  text-align: center;
  margin: 50px 20px 0px 0px;
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: .0875rem;
  text-transform: uppercase;
  font-size: 10px;
}

/* 3 nav end--------------------------------*/
/*------------Project Image ---------------------------
img {
  width: 68%;
  height: auto;
  margin: 3% 15%;
  transition: all 1.3s, transform.5s, box-shadow .5s;
  z-index: -1;
}

img:hover {
  box-shadow: 6px 6px 20px rgba(65, 64, 64, 0.6);
  transform: scale(0.9);
  width: 70%;
  height: auto;
  transform: none;
}
/*------------Project Image ---------------------------*/
/*--------------GRID GALLERY-------------------*/
.grid-container {
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 24%;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 245px;
  flex-basis: 24%;
  -ms-flex: auto;
  width: 295px;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 1rem;
}

.grid-row a {
  text-decoration: none;
}

.wrapping-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  color: currentColor;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  border-radius: 8px;
  background: #fff;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: 6px 3px 27px 1px rgba(0, 0, 0, 0.19);
  -webkit-transition: padding 0.15s cubic-bezier(0.4, 0.5, 0.2, 1), margin 0.15s cubic-bezier(0.4, 0.5, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0.5, 0.2, 1);
  transition: padding 0.15s cubic-bezier(0.4, 0, 0.2, 1), margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.grid-image-top {
  height: 85%;
  width: 120%;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  left: -10.5%;
  top: -4.5%;
}

.grid-image-top .centered {
  text-align: center;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54.5%;
  left: 50%;
  width: 60%;
  height: 60%;
  background-position: center;
}

.grid-image-top.dmart {
  background-image: url("images/shelter_00.png");
}

.grid-image-top.design {
  background-image: url("images/bg_serein.JPG");
}

.grid-image-top.photography {
  background-image: url("images/shelter_00.png");
}

.grid-image-top.aqualung {
  background-image: url("images/artifact/bg_aqua.png");
}

.grid-image-top.shelter {
  background-image: url("images/shelter_00.png");
}

.shelter-img {}

.grid-image-top.vitality {
  background-image: url("images/bg12_nt.jpg");
}

.grid-image-top.vegetate {
  background-image: url("images/vegetate2.jpg");
}

.grid-image-top.video {
  background-image: url("images/bg1_nt.jpg");
}

.grid-image-top.code-selfp {
  background-image: url("images/bg6_nt.jpg");
}

.grid-image-top.minecraft {
  background-image: url("images/3d2.png");
}

.grid-image-top.diyps {
  background-image: url("images/bg7_nt.jpg");
}

.grid-image-top.whack {
  background-image: url("images/bg8_nt.jpg");
}

.grid-image-top.viruses {
  background-image: url("images/background.png");
}

.grid-image-top.glitch {
  background-image: url("images/bg10_nt.jpg");
}

.grid-image-top.freedom {
  background-image: url("images/bgf_nt.jpg");
}

.grid-image-top.tatsou {
  background-image: url("images/bg14_nt.jpg");
}

.grid-image-top.dm {
  background-image: url("images/bg13_nt.jpg");
}

.grid-image-top.vanish {
  background-image: url("images/bg_vanish.JPG");
}

/*---------Design------------*/
.grid-image-top.serein {
  background-image: url("images/bg_serein.jpg");
}

/*---------Photography------------*/

.grid-image-top.oahu {
  background-image: url("images/photography/oahu/phot_01.JPG");
}

/*---------Photography END------------*/
.grid-image-top.dr {
  background-image: url("images/title.PNG");
}
.grid-item-content {
  padding: 0 20px 20px 20px;
}

.item-title {
  line-height: 26px;
  margin-bottom: 20px;
  display: block;
  color: #000;
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: .0875rem;
  font-size: 12px;
}

.grid-item:hover .grid-item-wrapper {
  padding: -1% 1%;
  margin: -1% -1%;
  opacity: .93;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}

.footer {
  background: transparent;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 380px;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 120px;
  width: 100%;
}


.copyright {
  margin: 20px 0;
  font-size: 12px;
  text-transform: uppercase;
}
