/*background--------------------------------------*/
html,
body {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nimbus-sans", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* background--------------------------------------------- */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.background span {
  width: 5vmin;
  height: 5vmin;
  border-radius: 15vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 12;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #e1e3ef;
  top: 96%;
  left: 10%;
  animation-duration: 14s;
  animation-delay: -55s;
  transform-origin: -13vw 7vh;
  box-shadow: 16vmin 0 2.604526401407627vmin currentColor;
}

.background span:nth-child(1) {
  color: #f8e8e8;
  top: 48%;
  left: 13%;
  animation-duration: 27s;
  animation-delay: -51s;
  transform-origin: 4vw 3vh;
  box-shadow: -16vmin 0 2.666277964266218vmin currentColor;
}

.background span:nth-child(2) {
  color: #f8e8e8;
  top: 75%;
  left: 2%;
  animation-duration: 33s;
  animation-delay: -28s;
  transform-origin: 17vw 5vh;
  box-shadow: -16vmin 0 2.4960228502481243vmin currentColor;
}

.background span:nth-child(3) {
  color: #faf2fd;
  top: 54%;
  left: 98%;
  animation-duration: 23s;
  animation-delay: -16s;
  transform-origin: -11vw 25vh;
  box-shadow: -16vmin 0 2.5141910534946366vmin currentColor;
}

.background span:nth-child(4) {
  color: #faf2fd;
  top: 99%;
  left: 42%;
  animation-duration: 27s;
  animation-delay: -16s;
  transform-origin: 11vw -2vh;
  box-shadow: -16vmin 0 2.011499357576089vmin currentColor;
}

.background span:nth-child(5) {
  color: #fefffa;
  top: 39%;
  left: 55%;
  animation-duration: 26s;
  animation-delay: -23s;
  transform-origin: -7vw -4vh;
  box-shadow: -16vmin 0 2.7986674305888535vmin currentColor;
}

.background span:nth-child(6) {
  color: #e1e3ef;
  top: 31%;
  left: 4%;
  animation-duration: 16s;
  animation-delay: -12s;
  transform-origin: 5vw 2vh;
  box-shadow: 16vmin 0 2.029712448300814vmin currentColor;
}

.background span:nth-child(7) {
  color: #fefffa;
  top: 95%;
  left: 54%;
  animation-duration: 25s;
  animation-delay: -4s;
  transform-origin: -13vw -7vh;
  box-shadow: -16vmin 0 2.108895238617589vmin currentColor;
}

.background span:nth-child(8) {
  color: #faf2fd;
  top: 72%;
  left: 33%;
  animation-duration: 14s;
  animation-delay: -36s;
  transform-origin: -15vw -18vh;
  box-shadow: -16vmin 0 2.633486114471985vmin currentColor;
}

.background span:nth-child(9) {
  color: #e1e3ef;
  top: 35%;
  left: 18%;
  animation-duration: 18s;
  animation-delay: -62s;
  transform-origin: -10vw 12vh;
  box-shadow: -16vmin 0 2.295853342429327vmin currentColor;
}

.background span:nth-child(10) {
  color: #f8e8e8;
  top: 23%;
  left: 40%;
  animation-duration: 19s;
  animation-delay: -22s;
  transform-origin: -3vw 2vh;
  box-shadow: 16vmin 0 2.411703182414525vmin currentColor;
}

.background span:nth-child(11) {
  color: #faf2fd;
  top: 44%;
  left: 24%;
  animation-duration: 18s;
  animation-delay: -35s;
  transform-origin: -5vw -21vh;
  box-shadow: 16vmin 0 2.6133576539601973vmin currentColor;
}

.background span:nth-child(12) {
  color: #fefffa;
  top: 24%;
  left: 60%;
  animation-duration: 16s;
  animation-delay: -15s;
  transform-origin: -5vw -65vh;
  box-shadow: -16vmin 0 2.9220365882366086vmin currentColor;
}

.background span:nth-child(13) {
  color: #fefffa;
  top: 65%;
  left: 74%;
  animation-duration: 19s;
  animation-delay: -47s;
  transform-origin: -5vw 30vh;
  box-shadow: 16vmin 0 2.9340527225650854vmin currentColor;
}

.background span:nth-child(14) {
  color: #faf2fd;
  top: 73%;
  left: 21%;
  animation-duration: 25s;
  animation-delay: -58s;
  transform-origin: 19vw -15vh;
  box-shadow: -16vmin 0 2.216934625777245vmin currentColor;
}

.background span:nth-child(15) {
  color: #f8e8e8;
  top: 44%;
  left: 8%;
  animation-duration: 23s;
  animation-delay: -15s;
  transform-origin: 24vw -43vh;
  box-shadow: 16vmin 0 2.2712122006787308vmin currentColor;
}

.background span:nth-child(16) {
  color: #f8e8e8;
  top: 22%;
  left: 52%;
  animation-duration: 34s;
  animation-delay: -74s;
  transform-origin: -4vw 44vh;
  box-shadow: 16vmin 0 2.387939565619532vmin currentColor;
}

.background span:nth-child(17) {
  color: #f8e8e8;
  top: 84%;
  left: 43%;
  animation-duration: 29s;
  animation-delay: -49s;
  transform-origin: -6vw 12vh;
  box-shadow: -16vmin 0 2.0477037209672284vmin currentColor;
}

.background span:nth-child(18) {
  color: #e4dcdf;
  top: 99%;
  left: 86%;
  animation-duration: 28s;
  animation-delay: -56s;
  transform-origin: -7vw -4vh;
  box-shadow: 16vmin 0 2.948248833799531vmin currentColor;
}

.background span:nth-child(19) {
  color: #faf2fd;
  top: 91%;
  left: 69%;
  animation-duration: 24s;
  animation-delay: -60s;
  transform-origin: -78vw -24vh;
  box-shadow: 16vmin 0 2.0668528118738596vmin currentColor;
}

.background span:nth-child(20) {
  color: #faf2fd;
  top: 121%;
  left: 99%;
  animation-duration: 24s;
  animation-delay: -60s;
  transform-origin: -59vw -64vh;
  box-shadow: 16vmin 0 2.0668528118738596vmin currentColor;
}

.background span:nth-child(21) {
  color: #faf2fd;
  top: 81%;
  left: 39%;
  animation-duration: 24s;
  animation-delay: -60s;
  transform-origin: -19vw -94vh;
  box-shadow: 16vmin 0 2.0668528118738596vmin currentColor;
}

.background span:nth-child(22) {
  color: #faf2fd;
  top: 61%;
  left: 89%;
  animation-duration: 24s;
  animation-delay: -60s;
  transform-origin: -28vw -14vh;
  box-shadow: 16vmin 0 2.0668528118738596vmin currentColor;
}

.background span:nth-child(23) {
  color: #faf2fd;
  top: 21%;
  left: 99%;
  animation-duration: 14s;
  animation-delay: -60s;
  transform-origin: -26vw -54vh;
  box-shadow: 16vmin 0 2.0668528118738596vmin currentColor;
}

.background span:nth-child(24) {
  color: #faf2fd;
  top: 81%;
  left: 39%;
  animation-duration: 54s;
  animation-delay: -6s;
  transform-origin: -82vw -24vh;
  box-shadow: 16vmin 0 2.0668528118738596vmin currentColor;
}

/* Home section */
.home {
  width: 100%;
  height: 875px;
  background-image: url("images/glitch-infinite.jpg");
  display: flex;
  background-position: center top;
  size: cover;
  background-repeat: no-repeat;
}

/*nav bar start --------------------------------------------------------------------------------------------*/
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  font-weight: 600;
  font-family: "ff-meta-serif-web-pro", serif;
  text-transform: uppercase;
}

.nav div.logo a {
  text-decoration: none;
  color: #eb1deb;
  font-size: 1.8rem;
}

.nav div.logo a:hover {
  color: #575757;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 1.8rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #19dbab;
  line-height: 65px;
  font-family: "nimbus-sans", sans-serif;
  letter-spacing: .0875rem;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.4px;
  transition: all 0.3s cubic-bezier(.05, .69, .14, 1);
}

.nav div.main_list ul li a:hover {
  color: #6d6c6c;
}

.navTrigger {
  display: none;
}

/* Media qurey section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
    display: block;
  }

  .nav div.logo {
    margin-left: 15px;
  }

  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .nav div.show_list {
    height: auto;
    display: none;
  }

  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    /*same background color of navbar*/
    background-position: center top;
  }

  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }

  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    padding: 20px;
    font-weight: 500;
  }

  .nav div.media_button {
    display: block;
  }
}

/* Animation */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: rgb(255, 2, 255);
  border-radius: 1px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(9px) rotate(0deg);
  }

  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-9px) rotate(0deg);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.myH2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 45px;
}

.myH3 {
  text-align: center;
  font-size: 1rem;
}

.myP {
  text-align: left;
  line-height: 1.7;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 17px;
  font-family: "arial";
}

@media all and (max-width:700px) {
  .myP {
    padding: 1%;
  }
}

/*-----------------------------------------*/
/*nav bar end-----------------------------------------------------------*/
.footer {
  background-color: #fff;
  text-align: center;
  margin: 40px 20px 15px 10px;
  font-family: "Courier New", Courier, monospace;
}

.copyright {
  margin: 20px 0;
  font-size: 12px;
  text-transform: uppercase;
}
