
  
  /*Neon*/
  
  #neon p {
    font:   sans-serif;
    font-style: inherit;
    font-size: 2.5em;
    margin-left: 30px;
    margin-top: 30px;
    
  }
  
  #neon a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  p:nth-child(1) a {
    color: rgb(236, 177, 177);
    font-family:STFangsong;
    -webkit-animation: neon1 2.5s ease-in-out infinite alternate;
    -moz-animation: neon1 2.5s ease-in-out infinite alternate;
    animation: neon1 2.5s ease-in-out infinite alternate;
  }
  
  p:nth-child(1) a:hover {
    color: rgb(233, 130, 207);
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  
  
 p a:hover {
    color: #b4e6d7;
  }
  /*glow for webkit*/
  
 
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px rgb(163, 224, 216), 0 0 20px rgb(208, 219, 168), 0 0 30px rgb(151, 172, 241), 0 0 40px rgb(164, 233, 218), 0 0 70px #dfcc60, 0 0 80px #b399db, 0 0 100px #6d49ee, 0 0 150px #eb69b0;
    }
    to {
      text-shadow: 0 0 5px rgb(212, 113, 122), 0 0 10px rgb(105, 188, 221), 0 0 15px rgb(252, 165, 83), 0 0 20px rgb(241, 174, 143), 0 0 35px rgb(228, 177, 153), 0 0 40px rgb(247, 202, 168), 0 0 50px rgb(165, 157, 109), 0 0 75px #e7b08b;
    }
  }
  
  
  
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px rgb(163, 224, 216), 0 0 20px rgb(208, 219, 168), 0 0 30px rgb(151, 172, 241), 0 0 40px rgb(164, 233, 218), 0 0 70px #dfcc60, 0 0 80px #b399db, 0 0 100px #6d49ee, 0 0 150px #eb69b0;
    }
    to {
      text-shadow: 0 0 5px rgb(212, 113, 122), 0 0 10px rgb(105, 188, 221), 0 0 15px rgb(252, 165, 83), 0 0 20px rgb(241, 174, 143), 0 0 35px rgb(228, 177, 153), 0 0 40px rgb(247, 202, 168), 0 0 50px rgb(165, 157, 109), 0 0 75px #e7b08b;
    }
  }
    

  
  
  /*glow*/
  
   @keyframes neon1 {
    from {
      text-shadow: 0 0 10px rgb(163, 224, 216), 0 0 20px rgb(208, 219, 168), 0 0 30px rgb(151, 172, 241), 0 0 40px rgb(164, 233, 218), 0 0 70px #dfcc60, 0 0 80px #b399db, 0 0 100px #6d49ee, 0 0 150px #eb69b0;
    }
    to {
      text-shadow: 0 0 5px rgb(212, 113, 122), 0 0 10px rgb(105, 188, 221), 0 0 15px rgb(252, 165, 83), 0 0 20px rgb(241, 174, 143), 0 0 35px rgb(228, 177, 153), 0 0 40px rgb(247, 202, 168), 0 0 50px rgb(165, 157, 109), 0 0 75px #e7b08b;
    }
  }
    
 /*background--------------------------------------*/   
  
body {
	background: linear-gradient(-45deg, #abecf0e8, #ffffff,#5c63e246,#bbd3f7);
	background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  text-align: center;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*nav bar -----------------------------------------------*/
.container-fluid{

  font-family: "Courier New", Courier, monospace;
  font-size: large;
  background-color: rgb(255, 255, 255);
  position: relative;
  align-content: center;
  
}


  li a {
   
    color: rgb(30, 130, 139);
    padding: 1px 1px;
    text-decoration: none;

  }
  
  li a:hover:not(.active) {
    background-color: transparent;
    text-shadow: 0.2px 0.5px;
    text-indent: 1px;
    text-decoration: none;
    color: rgb(83, 14, 67);
  }

/*nav bar end----------------------------------------------------*/

/*------------Project Image ---------------------------*/
IMG {
width: 75%;
height: auto;
margin: 2%;
vertical-align: middle;
transition: all 1.8s, transform.5s, box-shadow .5s;

}	
img:hover {
box-shadow: 6px 6px 20px
rgba(65, 64, 64, 0.6);
transform: scale(1.05);
width: 88%;
height: auto;
transform: none;
}	

img:focus {
box-shadow: 12px 12px 25px
rgba(71, 71, 71, 0.7);
width: 88%;
height: auto;
transform: none;
}		

@media only screen and (max- width: 938px) {
img{
width 37%;
}
img:focus{
width: 60%;
margin: 0;
}
}
@media only screen and (max-width 622px) {
img {
width: 65%;
}

img: focus {
width: 100%;
margin: 20px 0;
}


.grid{
  height: 1100px;
  width: 750px;
}
.grid img{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 4em auto;
  -webkit-transform: rotateZ(-0deg);
          transform: rotateZ(-0deg);
  width: 90%;
  
}



.grid-title {
  color: black;
  padding: 2px;
  text-decoration: none;
  text-indent: 1px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding: 2px 1px;
  font-size: 14px;
  position: center;
  }
    
}

.grid-title:hover{
    color: black;
    padding: 2px;
    text-decoration: none;
    text-indent: 2px;
    text-shadow: 1px 1px 1px rgb(33, 38, 46);
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    padding: 2px 1px;
    font-size: 14px;
    position: center;
}
  
  a {
    color: rgb(122, 31, 134);
    
  }
 
  .gallery-container{
    
      margin: 0 auto;
      padding: 3em;
      max-width: 1280px;
      width: 100%;
 
  }


.footer {
  background-color: transparent;
  padding: 10px;
  text-align: center;
  margin: 550px 50px 75px 100px;
  font-family: "Courier New", Courier, monospace;
}


@media only screen and (max-width: 700px){
  .gallery{
    width: 49.99%;
    margin: 6px o;
  }
}

@media only screen and (max-width: 500px){
  .gallery{
    width: 100%;
 
  }
}

/*------------------------------*/
