html, body {
  align-items: center;
  background-color: black;
}
canvas {
  display: block;
}

.center{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  width:600px;
  height: auto;
}


}
